<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.correnegada"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.android.correnegada.PrincipalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.correnegada.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.android.correnegada.MetasActivity"
            android:label="@string/title_activity_metas" >
        </activity>
        <activity
            android:name="com.android.correnegada.LocaisTreinoActivity"
            android:label="@string/title_activity_locais_treino" >
        </activity>
        <activity
            android:name="com.android.correnegada.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.android.correnegada.DetalhesMetaActivity"
            android:label="@string/title_activity_detalhes_meta" >
        </activity>
        <activity
            android:name="com.android.correnegada.ConfiguracoesActivity"
            android:label="@string/title_activity_configuracoes" >
        </activity>
        <activity
            android:name="com.android.correnegada.NovaMetaActivity"
            android:label="@string/title_activity_nova_meta" >
        </activity>
        <activity
            android:name="com.android.correnegada.CorridaActivity"
            android:label="@string/title_activity_corrida" >
        </activity>
        <activity
            android:name="com.android.correnegada.CronometroActivity"
            android:label="@string/title_activity_cronometro" >
        </activity>
        <!-- <activity -->
        <!-- android:name="com.android.correnegada.CadastrarAtividadeActivity" -->
        <!-- android:label="@string/title_activity_cadastrar_atividade" > -->
        <!-- </activity> -->
        <activity
            android:name="com.android.correnegada.ListarAtividadesActivity"
            android:label="@string/title_activity_listar_atividades" >
        </activity>
    </application>

</manifest>
